  
  /* Gambar Profil */
  img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    border: 3px solid #f7f7f7;
  }
  
  /* Formulir */
  form {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  input, textarea {
    width: 97%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 5px;
  }
  
  button {
    background-color: #073f04;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0a9396;
  }
  
  /* Video */
  iframe {
    display: block;
    margin: 20px auto;
    max-width: 90%;
    border-radius: 10px;
  }
  
  /* Maps */
  iframe[src*="google.com/maps"] {
    border: 2px solid #ccc;
    border-radius: 10px;
  }